/* Reset */
/* Simple CSS reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

.app {
    padding-top: 40px;
    height: 100vh;
    background-color: #283149;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #dbedf3;
    padding-bottom: 20px;
    font-size: 36px;
}